.no-js noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    z-index: 9999;
    text-align: center;
}

body {
    background-color: #FAFAFA;
    color: #000;
    font-family: monospace;
    margin: 0;
    overflow: visible;
}

body.isFullscreen {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

#container {
    width: 1024px;
    margin: 0 auto;
    z-index: 0;
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #CECECE;
    z-index: 3;
}
#loader-mask {
    z-index: 5;
}
#back {
    display: none;
    position: fixed;
    top: 32px;
    left: 32px;
    z-index: 2;
}
#info {
    display: none;
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 2;
}
#info-container {
    display: none;
    position: fixed;
    top: 72px;
    right: 32px;
    width: 50%;
    text-align: right;
    z-index: 2;
}
body.isFullscreen #back,
body.isFullscreen #info {
    display: block;
}

@media screen and (max-width: 1024px) {
    #container {
        width:768px;
    }
}

@media screen and (max-width: 768px) {
    #container {
        width: 512px;
    }
}

@media screen and (max-width: 512px) {
    #container {
        width: 256px;
    }
}

header {
    text-align: center;
    padding: 32px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#tags, #tech {
    display: block;
    float: left;
    width: 100%;
}

#tags li, #tech li {
    position: relative;
    display: block;
    float: left;
    padding: 8px
}
#tech li {
    font-size: 10px;
    padding: 4px;
}

#labs li {
    position: relative;
    display: block;
    float: left;
    width: 256px;
    height: 256px;
    padding: 8px
}

#labs li a {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
}

#labs li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0px solid #CECECE;
    transition: all 0.128s ease-out;
}

#labs li a:hover:before {
    border: 8px solid #CECECE;
}

#labs li a img {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
}

/* loader credits to http://tobiasahlin.com/spinkit/ */
#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 60px;
    margin-left: -50px;
    margin-top: -30px;
    text-align: center;
    font-size: 10px;
    z-index: 5;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

#spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

#spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
